.multiframe-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    gap: 0;
    margin: 0;
    padding: 0;
}

.multiframe-pane {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &:first-child {
        border-right: 2px solid #333;
    }
}

.multiframe-empty {
    color: #888;
    font-size: 18px;
    text-align: center;
}

