/* display */
.displayLarge {
  font-family: var(--ta-font-family);
  font-size: var(--ta-display-large-size);
  font-weight: var(--ta-display-large-weight);
  line-height: var(--ta-display-large-line-height);
}

.display {
  font-family: var(--ta-font-family);
  font-size: var(--ta-display-size);
  font-weight: var(--ta-display-weight);
  line-height: var(--ta-display-line-height);
}

/* headline */
.headline {
  font-family: var(--ta-font-family);
  font-size: var(--ta-headline-size);
  font-weight: var(--ta-headline-weight);
  line-height: var(--ta-headline-line-height);
}

/* title */
.title {
  font-family: var(--ta-font-family);
  font-size: var(--ta-title-size);
  font-weight: var(--ta-title-weight);
  line-height: var(--ta-title-line-height);
}

/* body */
.bodyMedium {
  font-family: var(--ta-font-family);
  font-size: var(--ta-body-size);
  font-weight: var(--ta-body-medium-weight);
  line-height: var(--ta-body-medium-line-height);
}

.bodyRegular {
  font-family: var(--ta-font-family);
  font-size: var(--ta-body-size);
  font-weight: var(--ta-body-regular-weight);
  line-height: var(--ta-body-regular-line-height);
}

.bodySemibold {
  font-family: var(--ta-font-family);
  font-size: var(--ta-body-size);
  font-weight: var(--ta-body-semibold-weight);
  line-height: var(--ta-body-regular-line-height);
}

/* label */
.labelRegular {
  font-family: var(--ta-font-family);
  font-size: var(--ta-label-size);
  font-weight: var(--ta-label-regular-weight);
  line-height: var(--ta-label-line-height);
}

.labelSemibold {
  font-family: var(--ta-font-family);
  font-size: var(--ta-label-size);
  font-weight: var(--ta-label-semibold-weight);
  line-height: var(--ta-label-line-height);
}

.labelMedium {
  font-family: var(--ta-font-family);
  font-size: var(--ta-label-size);
  font-weight: var(--ta-label-medium-weight);
  line-height: var(--ta-label-line-height);
}

/* footnote */
.footnoteRegular {
  font-family: var(--ta-font-family);
  font-size: var(--ta-footnote-size);
  font-weight: var(--ta-footnote-regular-weight);
  line-height: var(--ta-footnote-line-height);
}

.footnoteCaps {
  font-family: var(--ta-font-family);
  font-size: var(--ta-footnote-size);
  font-weight: var(--ta-footnote-caps-weight);
  line-height: var(--ta-footnote-line-height);
  text-transform: uppercase;
}

/* caption */
.captionSemibold {
  font-family: var(--ta-font-family);
  font-size: var(--ta-caption-size);
  font-weight: var(--ta-caption-weight);
  line-height: var(--ta-caption-line-height);
}

.captionCaps {
  font-family: var(--ta-font-family);
  font-size: var(--ta-caption-size);
  font-weight: var(--ta-caption-weight);
  line-height: var(--ta-caption-line-height);
  text-transform: uppercase;
}

/* input */
.inputS {
  font-family: var(--ta-font-family);
  font-size: var(--ta-input-s-size);
  font-weight: var(--ta-input-s-weight);
  line-height: var(--ta-input-s-line-height);
}

.inputM {
  font-family: var(--ta-font-family);
  font-size: var(--ta-input-m-size);
  font-weight: var(--ta-input-m-weight);
  line-height: var(--ta-input-m-line-height);
}

.inputL {
  font-family: var(--ta-font-family);
  font-size: var(--ta-input-l-size);
  font-weight: var(--ta-input-l-weight);
  line-height: var(--ta-input-l-line-height);
}

.inputXl {
  font-family: var(--ta-font-family);
  font-size: var(--ta-input-xl-size);
  font-weight: var(--ta-input-xl-weight);
  line-height: var(--ta-input-xl-line-height);
}

.inputXlSymbol {
  font-family: var(--ta-font-family);
  font-size: var(--ta-input-xl-symbol-size);
  font-weight: var(--ta-input-xl-symbol-weight);
  line-height: var(--ta-input-xl-symbol-line-height);
}
